{% import '_includes/forms' as forms %}
{{ forms.textareaField({
    label: 'Dataset Prefilter' | t('tablecloth'),
    name:'datasetPrefilter',
    value:datatable.getParam('datasetPrefilter') | raw,
    required: false,
    instructions:'Write your own SQL to filter down the initial dataset. use {{handle}} as a placeholder for column names',
    placeholder:"e.g {{postDate}}>DATE_SUB(NOW(),INTERVAL 3 DAY) AND ({{authorId}}=2)",
    errors:datatable.getErrors('datasetPrefilter'),
    inputAttributes:{
        'v-model':'datasetPrefilter',
        'ref':'prefilter'
    }
}) }}

<ul class="handles-list">
    <li v-for="column in columnHandles">
        <button type="button" @click="addColumnToSqlFilter(column)">${column}</button>
    </li>
</ul>
<hr>
<button type="button" class="btn">Test Query</button>
