<tr>
    <td>
        <input type="checkbox" name="components[]"
               value="{{ value }}" {{ value in model.getTableOption('components') ? 'checked' : '' }}>
    </td>
    <td>{{ label }}</td>
</tr>