# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=test

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=CraftCMS--1e42f2fc-d4ab-4702-a505-2ae5b570082d

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=sLjZU-r8b3Z_-Ldz7Xk8q6vPbXxrzjju

# Database Configuration
DB_DRIVER=pgsql
DB_SCHEMA=public
DB_SERVER=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_TABLE_PREFIX=

# The URI segment that tells Craft to load the control panel
CP_TRIGGER=admin

PRIMARY_SITE_URL=
PROJECT_ROOT=
